<div class="board">
  <div class="name">
    <p>Name : <%= @pokemon.name.capitalize %></p>
  </div>
  <div class="types">
    <% if @pokemon.type_2.nil? %>
      <p>Type : <%= image_tag(@pokemon.type_1) %></p>
    <% else %>
      <p>Types : <%= image_tag(@pokemon.type_1) %> <%= image_tag(@pokemon.type_2) %></p>
    <% end %>
  </div>
  <div class="weight">
    <p>Weight : <%= @pokemon.weight.to_i/10.0 %>kg</p>
  </div>
  <div class="height">
    <p>Height : <%= @pokemon.height.to_i/10.0 %>m</p>
  </div>
  <div class="description">
    <p>Description : <%= SpeciesFlavorText.find_by(species_id: @pokemon.species_id).flavor_text.split(' ').join(" ") %></p> <!-- Used split then join to remove \f escape character -->
  </div>
</div>
