<div class="container-mine" data-controller="refresh-list">
  <%= link_to pokemons_path do %>
    <h1>POKEDEX</h1>
  <% end %>
  <div class="search-bar">
    <%= form_with url: pokemons_path, method: :get, html: { class: 'mb-5 search-form', data: { refresh_list_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                      class: "form-control",
                      placeholder: 'Search a Pokemon',
                      value: params[:query],
                      data: {
                        refresh_list_target: 'searchInput',
                        action: "keyup->refresh-list#update"
                      } %>
    <% end %>
  </div>
  <div class="filters-container">
    <form class="filter_form", method="get">
      <% Type.all.each do |a| %>
        <%= check_box_tag("types[]", a.name) %>
        <%=h a.name %>
      <% end %>
      <input type="submit" value="Filter" />
    </form>
  </div>
  <div class="cards-container" data-refresh-list-target="list">
    <% @pokemons.each do |pokemon| %>
      <%= link_to pokemon_path(pokemon) do %>
        <div class="pokemon-card">
          <div class="pokemon-card-image">
            <%= image_tag(pokemon.official_artwork) %>
          </div>
          <div class="pokemon-card-number">
            <p>N°<%= pokemon.api_id %></p>
          </div>
          <div class="pokemon-card-name">
            <p><%= pokemon.name.capitalize %></p>
          </div>
          <div class="pokemon-card-types">
            <% if pokemon.type_2.nil? %>
              <%= render partial: "tags/#{pokemon.type_1}_tag", locals: {myclass: 'type_1'} %>
            <% else %>
              <%= render partial: "tags/#{pokemon.type_1}_tag", locals: {myclass: 'type_1'} %>
              <%= render partial: "tags/#{pokemon.type_2}_tag", locals: {myclass: 'type_2'} %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
