<div class="container-mine" data-controller="refresh-list">
  <%= link_to pokemons_path do %>
    <h1>POKEDEX</h1>
  <% end %>
  <div class="search-bar" data-names="<%= @pokemons_names.to_json %>">
    <%= form_with url: pokemons_path, method: :get, html: { class: 'mb-5 search-form', data: { refresh_list_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                      class: "form-control",
                      id: "search-input",
                      placeholder: 'Search a Pokemon',
                      value: params[:query],
                      data: {
                        refresh_list_target: 'searchInput',
                        action: "keyup->refresh-list#update"
                      } %>
      <% if params[:types].nil? == false %>
        <%= f.hidden_field :types, value: params[:types], data: { refresh_list_target: "hiddenInputTypes" } %>
      <% end %>
    <% end %>
  </div>
  <div class="filters-container">
    <div id="checkbox-dropdown" class="dropdown-check-list" tabindex="100">
      <span class="anchor">Select Types</span>
      <form class="filter_form", method="get">
        <ul class="items">
          <% if params[:types].present? %>
            <% params[:types].each do |type| %>
              <% Type.where(name: type).each do |a| %>
                <li>
                  <%= check_box_tag("types[]", a.name, true ) %>
                  <%=h a.name %>
                </li>
              <% end %>
            <% end %>
            <% Type.where.not(name: params[:types]).each do |a| %>
              <li>
                <%= check_box_tag("types[]", a.name, false ) %>
                <%=h a.name %>
              </li>
            <% end %>
          <% else %>
            <% Type.all.each do |a| %>
              <li>
                <%= check_box_tag("types[]", a.name) %>
                <%=h a.name %>
              </li>
            <% end %>
          <% end %>
          <input type="submit" value="Filter" />
        </ul>
      </form>
    </div>
  </div>
  <div class="cards-container" data-refresh-list-target="list">
    <% @pokemons.each do |pokemon| %>
      <%= link_to pokemon_path(pokemon) do %>
        <div class="pokemon-card">
          <div class="pokemon-card-image">
            <%= image_tag(pokemon.official_artwork) %>
          </div>
          <div class="pokemon-card-number">
            <p>N°<%= pokemon.api_id %></p>
          </div>
          <div class="pokemon-card-name">
            <p><%= pokemon.name.capitalize %></p>
          </div>
          <div class="pokemon-card-types">
            <% if pokemon.type_2.nil? %>
              <%= render partial: "tags/#{pokemon.type_1}_tag", locals: {myclass: 'type_1'} %>
            <% else %>
              <%= render partial: "tags/#{pokemon.type_1}_tag", locals: {myclass: 'type_1'} %>
              <%= render partial: "tags/#{pokemon.type_2}_tag", locals: {myclass: 'type_2'} %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
