<div class="container-mine">
  <div class="top-container">
    <% if @pokemon == Pokemon.first %>
      <div class="arrow left">
        <%= link_to "test", pokemon_path(Pokemon.last) %>
      </div>
    <% else %>
      <div class="arrow left">
        <%= link_to "test", pokemon_path(Pokemon.find_by(api_id: @pokemon.api_id - 1)) %>
      </div>
    <% end %>
    <div class="pokemon-name">
      <%= @pokemon.name.upcase %>
    </div>
    <div class="pokedex-number">
      <%= @pokemon.order %>
    </div>
    <% if @pokemon == Pokemon.last %>
      <div class="arrow right">
        <%= link_to "test", pokemon_path(Pokemon.first) %>
      </div>
    <% else %>
      <div class="arrow right">
        <%= link_to "test", pokemon_path(Pokemon.find_by(api_id: @pokemon.api_id + 1)) %>
      </div>
    <% end %>
  </div>
  <div class="middle-container">
    <div class="img-container">
      <%= image_tag(@pokemon.official_artwork) %>
    </div>
    <div class="right-infos"></div>
  </div>
</div>





<!-- image_tag(type.scan(/name.{1}=>.{1}([a-zA-Z]+)/)[0][0]) -->


Take *2, *4 : <%= @pokemon.weaknesses_damage_taken %>
<br>
Take *1/2, *1/4, *0 : <%= @pokemon.resistances_damage_taken %>
<br>
Give *2 : <%= @pokemon.offense_damage_given %>
<br>
Give *1/2, *1/4, *0 :<%= @pokemon.resistances_damage_given %>
