<div class="container-mine">
  <div class="top-container">
    <% if @pokemon == Pokemon.first %>
      <div class="arrow left">
        <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/TriangleArrow-Left.svg/1200px-TriangleArrow-Left.svg.png"), pokemon_path(Pokemon.last) %>
        <%= link_to image_tag(Pokemon.last.official_artwork, class:"pokemon-image-navbar"), pokemon_path(Pokemon.last) %>
      </div>
    <% else %>
      <div class="arrow left">
        <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/TriangleArrow-Left.svg/1200px-TriangleArrow-Left.svg.png"), pokemon_path(Pokemon.find_by(api_id: @pokemon.api_id - 1)) %>
        <%= link_to image_tag(Pokemon.find_by(api_id: @pokemon.api_id - 1).official_artwork, class:"pokemon-image-navbar"), pokemon_path(Pokemon.find_by(api_id: @pokemon.api_id - 1)) %>
      </div>
    <% end %>
    <div class="pokemon-text-top">
      <%= link_to pokemons_path do %>
        <div class="pokemon-name">
          HOME
        </div>
      <% end %>
    </div>
    <% if @pokemon == Pokemon.last %>
      <div class="arrow right">
        <%= link_to image_tag(Pokemon.first.official_artwork, class:"pokemon-image-navbar"), pokemon_path(Pokemon.first) %>
        <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/TriangleArrow-Right.svg/461px-TriangleArrow-Right.svg.png?20060109153651"), pokemon_path(Pokemon.first) %>
      </div>
    <% else %>
      <div class="arrow right">
        <%= link_to image_tag(Pokemon.find_by(api_id: @pokemon.api_id + 1).official_artwork, class:"pokemon-image-navbar"), pokemon_path(Pokemon.find_by(api_id: @pokemon.api_id + 1)) %>
        <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/TriangleArrow-Right.svg/461px-TriangleArrow-Right.svg.png?20060109153651"), pokemon_path(Pokemon.find_by(api_id: @pokemon.api_id + 1)) %>
      </div>
    <% end %>
  </div>
  <div class="middle-container">
    <%= render 'shared/forms_sprites' %>
    <div class="right-infos">
      <%= render 'shared/info_board' %>
    </div>
  </div>

  <div class="evolution">
    <% chain_url = JSON.parse(URI.open("https://pokeapi.co/api/v2/pokemon-species/#{Species.find(@pokemon.species_id).api_id}/").read)["evolution_chain"]["url"]; %>
    <% parsed_chain = JSON.parse(URI.open(chain_url).read) %>
    <% if parsed_chain["chain"]["species"]["name"] == @pokemon.name %>
      <p>Evolves into : <%= parsed_chain["chain"]["evolves_to"][0]["species"]["name"]%> at level <%= parsed_chain["chain"]["evolves_to"][0]["evolution_details"][0]["min_level"] %></p>
    <% elsif parsed_chain["chain"]["evolves_to"][0]["species"]["name"] == @pokemon.name %>
      <p>Evolved from : <%= parsed_chain["chain"]["species"]["name"] %> at level : <%= parsed_chain["chain"]["evolves_to"][0]["evolution_details"][0]["min_level"] %></p>
      <p>Evolves into : <%= parsed_chain["chain"]["evolves_to"][0]["evolves_to"][0]["species"]["name"]%> at level <%= parsed_chain["chain"]["evolves_to"][0]["evolves_to"][0]["evolution_details"][0]["min_level"] %> </p>
    <% else %>
      <p>Evolved from : <%= parsed_chain["chain"]["evolves_to"][0]["species"]["name"]%> at level : <%= parsed_chain["chain"]["evolves_to"][0]["evolves_to"][0]["evolution_details"][0]["min_level"] %></p>
      <p>Does not evolve</p>
    <% end %>
  </div>
</div>





<!-- image_tag(type.scan(/name.{1}=>.{1}([a-zA-Z]+)/)[0][0]) -->


<!--Take *2, *4 : <%= @pokemon.weaknesses_damage_taken %>
<br>
Take *1/2, *1/4, *0 : <%= @pokemon.resistances_damage_taken %>
<br>
Give *2 : <%= @pokemon.offense_damage_given %>
<br>
Give *1/2, *1/4, *0 :<%= @pokemon.resistances_damage_given %> -->
